{% load static %}
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>
            <img src="{% static 'img/logo.png' %}" class="img-fluid" />
            <span></span>
        </h3>
    </div>
    <ul class="list-unstyled components">
        <li class="" id="dashboard">
            <a href="#" class="dashboard">
                <i class="material-icons">dashboard</i><span>Dashboard</span></a
            >
        </li>
        <div class="small-screen navbar-display">
            <li class="dropdown d-lg-none d-md-block d-xl-none d-sm-block">
                <a href="#homeSubmenu0"
                   data-toggle="collapse"
                   aria-expanded="false"
                   class="dropdown-toggle">
                <i class="material-icons">notifications</i
            ><span>4 notification</span></a
            >
            <ul class="collapse list-unstyled menu" id="homeSubmenu0">
                <li>
                    <a href="#">You have 5 new messages</a>
                </li>
                <li>
                    <a href="#">You're now friend with Mike</a>
                </li>
                <li>
                    <a href="#">Wish Mary on her birthday!</a>
                </li>
                <li>
                    <a href="#">5 warnings in Server Console</a>
                </li>
            </ul>
        </li>
        <li class="d-lg-none d-md-block d-xl-none d-sm-block">
            <a href="#"><i class="material-icons">apps</i><span>apps</span></a>
        </li>
        <li class="d-lg-none d-md-block d-xl-none d-sm-block">
            <a href="#"><i class="material-icons">person</i><span>user</span></a>
        </li>
        <li class="d-lg-none d-md-block d-xl-none d-sm-block">
        <a href="#"><i class="material-icons">settings</i><span>setting</span></a
        >
    </li>
</div>
<li class="dropdown">
    <a href="#homeSubmenu1"
       data-toggle="collapse"
       aria-expanded="false"
       class="dropdown-toggle">
        <i class="material-icons">equalizer</i><span>Accounts</span></a
    >
    <ul class="collapse list-unstyled menu" id="homeSubmenu1">
        <li>
            <a href="#">Sales</a>
        </li>
        <li>
            <a href="#">Bookings</a>
        </li>
        <li>
            <a href="#">Transactions</a>
        </li>
    </ul>
</li>
<li class="dropdown">
    <a href="#pageSubmenu2"
       data-toggle="collapse"
       aria-expanded="false"
       class="dropdown-toggle">
        <i class="material-icons">inventory_2</i><span>Packages</span></a
    >
    <ul class="collapse list-unstyled menu" id="pageSubmenu2">
        <li>
            <a href="{% url 'TMS_AdminPanel:packages-type' %}">Packages Types</a>
        </li>
        <li>
            <a href="{% url 'TMS_AdminPanel:packages-list' %}">Packages</a>
        </li>
    </ul>
</li>
<li class="dropdown" id="hotels">
    <a href="#pageSubmenu3"
       data-toggle="collapse"
       aria-expanded="false"
       class="dropdown-toggle">
        <i class="material-icons">corporate_fare</i>
        <span>Hotels</span></a
    >
    <ul class="collapse list-unstyled menu" id="pageSubmenu3">
        <li>
            <a href="{%  url 'TMS_AdminPanel:hotels-list'   %}">Hotels</a>
        </li>
        <li>
            <a href="#">Hotels Owners</a>
        </li>
        <li>
            <a href="{% url 'TMS_AdminPanel:hotels-types' %}">Hotels Types</a>
        </li>
    </ul>
</li>
<li class="dropdown" id="vehicles">
    <a href="#pageSubmenu5"
       data-toggle="collapse"
       aria-expanded="false"
       class="dropdown-toggle">
        <i class="material-icons">commute</i><span>Vehicles</span></a
    >
    <ul class="collapse list-unstyled menu" id="pageSubmenu5">
        <li>
            <a href="{% url 'TMS_AdminPanel:vehicle-type' %}">Vehicles Types</a>
        </li>
        <li>
            <a href="{% url 'TMS_AdminPanel:list-vehicles' %}">Vehicles</a>
        </li>
        <li>
            <a href="{% url 'TMS_AdminPanel:list-vehicles' %}">Vehicles Owners</a>
        </li>
    </ul>
</li>
<li class="dropdown" id="users">
    <a href="#customers"
       data-toggle="collapse"
       aria-expanded="false"
       class="dropdown-toggle">
        <i class="material-icons">group</i><span>Users</span></a
    >
    <ul class="collapse list-unstyled menu" id="customers">
        <li>
            <a href="{% url 'TMS_AdminPanel:manage-users' %}">Users</a>
        </li>
        <li>
        <a href="{% url 'TMS_AdminPanel:manage_accounts_Types' %}">Accounts Types</a
        >
    </li>
    <li>
        <a href="#">Page 3</a>
    </li>
</ul>
</li>
<li class="dropdown">
    <a href="#pageSubmenu10"
       data-toggle="collapse"
       aria-expanded="false"
       class="dropdown-toggle">
        <i class="material-icons">group</i><span>CRM</span></a
    >
    <ul class="collapse list-unstyled menu" id="pageSubmenu10">
        <li>
            <a href="#">Feedbacks</a>
        </li>
        <li>
            <a href="#">Complains</a>
        </li>
        <li>
            <a href="#">Reviews</a>
        </li>
    </ul>
</li>
<li class="dropdown" id="manage_ui">
    <a href="#pageSubmenu4"
       data-toggle="collapse"
       aria-expanded="false"
       class="dropdown-toggle">
        <i class="material-icons">extension</i><span>Manage UI</span></a
    >
    <ul class="collapse list-unstyled menu" id="pageSubmenu4">
        <li>
            <a href="{% url 'TMS_AdminPanel:manage-slider' %}">Manage Slider</a>
        </li>
    </ul>
</li>
<li class="dropdown" id="region">
    <a href="#pageSubmenu7"
       data-toggle="collapse"
       aria-expanded="false"
       class="dropdown-toggle">
        <i class="material-icons">map</i><span>Regions</span></a
    >
    <ul class="collapse list-unstyled menu" id="pageSubmenu7">
        <li>
            <a href="{% url 'TMS_AdminPanel:countries' %}">Countries</a>
        </li>
        <li>
            <a href="{% url 'TMS_AdminPanel:states' %}">States</a>
        </li>
        <li>
            <a href="{% url 'TMS_AdminPanel:cities' %}">Cities</a>
        </li>
    </ul>
</li>
<li class="">
    <a href="#"><i class="material-icons">date_range</i><span>copy</span></a>
</li>
<li class="">
<a href="#"><i class="material-icons">library_books</i><span>Calender</span></a
>
</li>
</ul>
</nav>
