{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="margin-top:100px">
            <div class="white-box">
                <h1 class="text-center font-weight-bold">No Sugar</h1>
                <h2 class="text-center font-weight-bold" style="color:#41B87F">Sign In</h2>
                
                <form class="login form-horizontal form-material" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="example-email" class="col-md-12" style="color:#41B87F">Username</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control form-control-line login-fields" name="login" placeholder=""
                                   autocomplete="off" autofocus="autofocus" maxlength="150" required="" id="id_login"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" style="color:#41B87F">Password</label>
                        <div class="col-md-12">
                            <input type="password" name="password" class="form-control form-control-line login-fields" placeholder=""
                                   required="" id="id_password">
                        </div>
                    </div>
                        <!-- <a class="btn forgotPasswordBtn" href="{% url 'account_reset_password' %}" >Forgot Password?</a> -->
    
                    <div class="form-group">
                        <div class="col-md-12">
                            <p class="mt-2" ><a href="/accounts/password/reset/" style="color:#41B87F">Forget Password?</a>  <button class="primaryAction btn btn-primary pull-right" style="background-color:#41B87F !important; border: 1px solid #41B87F !important;">Sign In</button></p>

                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
   

{% endblock %}
