{% load staticfiles %}
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@300&display=swap" rel="stylesheet">

<nav class="navbar navbar-default navbar-static-top m-b-0">
  <div class="navbar-header">
    <div class="top-left-part">
      <!-- Logo -->
      <a class="logo" href="#">
        <!-- Logo icon image, you can use font-icon also --><b>
          <!--This is dark logo icon--><img src="{% static 'plugins/images/1.png' %}" alt="home" class="dark-logo" />
          <!--This is light logo icon--><img src="{% static 'plugins/images/1.png' %}" width="175px" alt="home"
            class="light-logo" />

        </b>

      </a>
    </div>
    <!-- /Logo -->
    <ul class="nav navbar-top-links navbar-right pull-right">
      <li>
        <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg" href="javascript:void(0)"><i
            class="fa fa-bars"></i></a>
      </li>
      <li>
        <a class="profile-pic" href="#"> <img src="{% static 'plugins/images/users/varun.jpg' %}" alt="user-img"
            width="36" class="img-circle"><b class="hidden-xs">admin</b></a>
      </li>
      <li>
        <a href="view-profile" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Profile</a>
      </li>
      <li>
        <a href="#">Logout</a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-header -->
  <!-- /.navbar-top-links -->
  <!-- /.navbar-static-side -->
</nav>
class="fa fa-bars"></i></a>
</li>
<li>
  <a class="profile-pic" href="#"> <img src="{% static 'plugins/images/users/varun.jpg' %}" alt="user-img" width="36"
      class="img-circle"><b class="hidden-xs">{% if request.user.name %}{{request.user.name}}{% else
      %}admin{% endif %}</b></a>
</li>
<li>
  <div class="dropdown" style="padding-top: 15px;">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Profile
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/admin/profile">Profile</a></li>
      <li><a href="/admin/change_password">Change Password</a></li>
      <li><a href="profile">Update Profile</a></li>
    </ul>
  </div>
</li>
<li>
  <a href="#">Logout</a>
</li>
</ul>
</div>
<!-- /.navbar-header -->
<!-- /.navbar-top-links -->
<!-- /.navbar-static-side -->
</nav>