venv/
env/
__pychache__/
**/__pychache__/**
**/**/__pychache__/**
.vscode/
backend/backend/__pycache__/
backend/TMS_AdminPanel/__pycache__/
backend/TMS_AdminPanel/migrations/__pycache__/

backend/TMS_Models/migrations/__pycache__/
backend/TMS_Models/__pycache__/

backend/TMS_Views/migrations/__pycache__/
backend/TMS_Views/__pycache__/


env/Lib/site-packages/__pycache__/
env/Lib/site-packages/django/__pycache__/
env/Lib/site-packages/django/db/backends/__pycache__/
env/Lib/site-packages/django/db/backends/base/__pycache__/
env/Lib/site-packages/django/db/__pycache__/
env/Lib/site-packages/django/utils/__pycache__/log.cpython-39.pyc
env/Lib/site-packages/django/urls/__pycache__/utils.cpython-39.pyc
env/Lib/site-packages/django/urls/__pycache__/resolvers.cpython-39.pyc
env/Lib/site-packages/django/urls/__pycache__/converters.cpython-39.pyc
backend/TMS_AdminPanel/__pycache__/urls.cpython-39.pyc
backend/TMS_AdminPanel/__pycache__/views.cpython-39.pyc
backend/TMS_Models/__pycache__/models.cpython-39.pyc
backend/TMS_Models/migrations/__pycache__/0001_initial.cpython-39.pyc
backend/TMS_Models/migrations/__pycache__/0002_alter_user_auth_joinnig_date.cpython-39.pyc
backend/TMS_Models/migrations/__pycache__/0002_auto_20211203_1015.cpython-39.pyc
backend/TMS_Models/migrations/__pycache__/0003_package_package_type_id.cpython-39.pyc
backend/backend/__pycache__/settings.cpython-39.pyc
backend/backend/__pycache__/urls.cpython-39.pyc
env/Lib/site-packages/MySQLdb/__pycache__/__init__.cpython-39.pyc
env/Lib/site-packages/MySQLdb/__pycache__/_exceptions.cpython-39.pyc
env/Lib/site-packages/MySQLdb/__pycache__/connections.cpython-39.pyc
env/Lib/site-packages/MySQLdb/__pycache__/converters.cpython-39.pyc
env/Lib/site-packages/MySQLdb/__pycache__/cursors.cpython-39.pyc
env/Lib/site-packages/MySQLdb/__pycache__/release.cpython-39.pyc
env/Lib/site-packages/MySQLdb/__pycache__/times.cpython-39.pyc
env/Lib/site-packages/MySQLdb/constants/__pycache__/CLIENT.cpython-39.pyc
env/Lib/site-packages/MySQLdb/constants/__pycache__/FIELD_TYPE.cpython-39.pyc
env/Lib/site-packages/MySQLdb/constants/__pycache__/FLAG.cpython-39.pyc
env/Lib/site-packages/MySQLdb/constants/__pycache__/__init__.cpython-39.pyc
env/Lib/site-packages/django/conf/locale/__pycache__/__init__.cpython-39.pyc
env/Lib/site-packages/django/core/__pycache__/validators.cpython-39.pyc
env/Lib/site-packages/django/core/files/__pycache__/images.cpython-39.pyc
env/Lib/site-packages/django/core/files/__pycache__/storage.cpython-39.pyc
env/Lib/site-packages/django/core/mail/__pycache__/__init__.cpython-39.pyc
env/Lib/site-packages/django/core/serializers/__pycache__/json.cpython-39.pyc
env/Lib/site-packages/django/core/serializers/__pycache__/python.cpython-39.pyc
env/Lib/site-packages/django/db/__pycache__/transaction.cpython-39.pyc
env/Lib/site-packages/django/db/backends/__pycache__/__init__.cpython-39.pyc
env/Lib/site-packages/django/db/backends/__pycache__/utils.cpython-39.pyc
env/Lib/site-packages/django/db/models/__pycache__/base.cpython-39.pyc
env/Lib/site-packages/django/db/models/__pycache__/constraints.cpython-39.pyc
env/Lib/site-packages/django/db/models/__pycache__/deletion.cpython-39.pyc
env/Lib/site-packages/django/db/models/__pycache__/enums.cpython-39.pyc
env/Lib/site-packages/django/db/models/__pycache__/indexes.cpython-39.pyc
env/Lib/site-packages/django/db/models/__pycache__/manager.cpython-39.pyc
env/Lib/site-packages/django/db/models/__pycache__/options.cpython-39.pyc
env/Lib/site-packages/django/db/models/__pycache__/query.cpython-39.pyc
env/Lib/site-packages/django/db/models/fields/__pycache__/files.cpython-39.pyc
env/Lib/site-packages/django/db/models/fields/__pycache__/proxy.cpython-39.pyc
env/Lib/site-packages/django/db/models/fields/__pycache__/related.cpython-39.pyc
env/Lib/site-packages/django/db/models/fields/__pycache__/related_descriptors.cpython-39.pyc
env/Lib/site-packages/django/db/models/fields/__pycache__/related_lookups.cpython-39.pyc
env/Lib/site-packages/django/db/models/fields/__pycache__/reverse_related.cpython-39.pyc
env/Lib/site-packages/django/urls/__pycache__/conf.cpython-39.pyc


env/Lib/site-packages/django/core/management/__pycache__/__init__.cpython-39.pyc