{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
    <script src={% static 'profile.js' %}></script>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'new-admin/_partials/header.html' %}
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'new-admin/_partials/side_bar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Profile page</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Profile Page</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
            <section class="userForm formBox">
                <div class="row white-box">
                    <div class="col-md-12">
                        
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="box-title">User's Profile</h3>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <a class="pull-right btn btn-primary" href = "/management/change-password"
                                    >Change Password</a>
                            </div>
                        </div>
                        <form method='POST' role="form" action='' enctype='multipart/form-data' id="formUserInfo">
                            {% csrf_token %}
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_first_name">Name:</label>
                                    <input type="text" name="address" maxlength="255" value="{{first_name}}"
                                        class="form-control" placeholder="Name" id="id_first_name" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_email">Email:</label>
                                    <input type="email" name="address" maxlength="255" value="{{email}}"
                                        class="form-control" placeholder="Email" id="id_email" required>
                                </div>
                            </div>    

                           
                        </div>

                            <div class="col-md-6">
                                <a data_uuid="" btn_request="create" type="submit" id="id_user_save_btn" 
                                    class="button btn-sm btn-primary">Save
                                </a>
                            </div>

                        </form>    
                    </div>
                </div>
            </section>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            {% include 'new-admin/_partials/footer.html' %}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- jQuery -->
    <script src="{% static 'js/metisMenu.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
{% endblock %}
