{% extends 'AdminSide/shared/base.html' %} {% load staticfiles %} {% load static %} {% block content %}
<script src="{% static 'table_del.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>


<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 15px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 9px;
        width: 9px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #2196F3;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
</style>


<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
</div>


<div id="wrapper">

    {% include 'AdminSide/shared/header.html' %} {% include 'AdminSide/shared/side_bar.html' %}
    {% csrf_token %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Vehicle Owners List</h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box" style="padding-bottom:100px">
                        
                        <div class="row">
                            <div class="col-md-4">
                                <h3 class="box-title">Vehicle Owners List</h3>
                            </div>
                            <div class="col-md-8">
                                <a class="button btn btn-primary pull-right"
                                href="add_VehicleOwner">Add New Owner
                                </a>
                            </div>
                        </div>
                           <div class="row">
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="search_name_table"
                                                type="text" autocomplete="off"
                                                maxlength="128" placeholder="Search by Name">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn_code_table" type="button" title="Search" id="id_table"
                                                input_id="search_name_table"
                                                search_type="product__name"
                                                search_param_type="product_name"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    </div>
                        <div class="table-responsive">
                            <table class="table" id="table_company">
                                <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Phone</th>
                                      <th>Address</th>
                                      <th>Action</th>
                                      
                                    </tr>
                                    </thead>
                                <tbody id="company_body">
                                    
                                        <tr>
                                            
                                            <td >Arooma</td>
                                            <td >1234567</td>
                                            <td >Lahore</td>
                                            
                                            <td>
                                                <a class="button btn-sm btn-primary btnEditproduct" style="margin-left:8px"
                                                    href="edit_VehicleOwner">
                                                    <i class="fa fa-pencil"></i></a>
                                                <a type="submit" class="button btn-sm btn-danger delete_product" 
                                                data-uuid="{{ object.uuid }}" style="margin-left:8px">
                                                <i class="fa fa-trash-o"></i></a>
                                            </td>              
                                        </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        {% include 'AdminSide/shared/footer.html' %}
    </div>

</div>
<!-- /#wrapper -->


<!-- Menu Plugin JavaScript -->
<script src="{% static 'js/metisMenu.js' %}"></script>
<!--slimscroll JavaScript -->
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/custom.min.js' %}"></script>
{% endblock %}+