*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#navabr{
    position: fixed;
    top:0;
    height: 55px;
    left: 0px;
}

#sidebar{
    height:92.5vh;
    position: fixed;
    top:55px;
    left: 0px;
    background: navajowhite;
}