* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}
.tms_logo {
  width: 100px;
}
#infoHeader {
  background-color: #3880b5;
  padding: 0%;
}
#infoHeader li {
  margin: 0;
  padding: 0px;
}
#infoHeader li a {
  color: white;
  margin: 0px;
  padding: 5px 10px;
  font-size: 14px;
}
.titleHeader {
  text-align: center;
  padding: 10px 0px 0px;
  text-transform: capitalize;
  color: #f0c20c;
  font-weight: 600;
}
#brandName {
  color: #6495ed;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-right: 10px;
  text-shadow: 1px -1px 2px #30405b;
}
.NavBar {
  padding: 0%;
  background-color: #62b539;
}
.NavBar .nav-item {
  margin: 0px 10px;
}
.NavBar .nav-item .nav-link {
  color: #fff;
  font-weight: 500;
}
.footer {
  background-color: #2e2e2e;
  bottom: 0px;
  color: #f1f1f1;
}
.footer h5 {
  color: #62b539;
  text-align: center;
}
