{% extends 'AdminSide/shared/base.html' %}
{% load staticfiles %}
{% block content %}

    
    <script src={% static 'dashboard.js' %}></script>
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->

    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'AdminSide/shared/header.html' %}
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        {% include 'AdminSide/shared/side_bar.html' %}
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
          <div class="container-fluid">
              <div class="row bg-title">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                      <h4 class="page-title">FEEDBACK SECTIONS</h4>
                  </div>
                  <!-- /.col-lg-12 -->
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="white-box" style="padding-bottom:100px">
                          
                          <div class="row">
                              <div class="col-md-4">
                                  <h3 class="box-title">Feedback List</h3>
                              </div>
                              
                          </div>
                             <div class="row">
                              <div class="col-md-4">
                                  <div class="input-group">
                                      <input type="text" class="form-control" id="search package"
                                                  type="text" autocomplete="off"
                                                  maxlength="128" placeholder="Search feedback">
                                  <div class="input-group-btn">
                                      <button class="btn btn-primary btn_code_table" type="button" title="Search" id="id_table"
                                                  input_id="search_name_table"
                                                  search_type="product__name"
                                                  search_param_type="product_name"><i class="fa fa-search"></i></button>
              </div>
          </div>
      </div>
      </div>
                          <div class="table-responsive">
                              <table class="table" id="table_company">
                                  {% comment %} {% include 'AdminSide/shared/table_header.html' %} {% endcomment %}
                                  <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>What suggestion do you want to add ?</th>
                                    <th>Detail of the suggestion/package</th>
                                    
                                    <th>Are you satisfied by the package pricing?</th>
                                    <th>Overall rate your trip out of 10.</th>
                                    
                                  </tr>
                                  </thead>
                                  <tbody id="company_body">
                                      
                                          <tr>
                                              <td>1</td>
                                              <td >Ammaz</td>
                                              <td > No suggestion!</td>
                                              <td>None</td>
                                              <td>YES</td>
                                              <td >9.5</td>
                                              
                                              <td>
                                            </tr> 
                                            
                                        </tbody> 
                                        <tbody id="company_body">
                                      
                                          <tr>
                                              <td>2</td>
                                              <td >Zara</td>
                                              <td > No !</td>
                                              <td>None</td>
                                              <td>YES</td>
                                              <td >7.5</td>
                                              
                                              <td>
                                            </tr> 
                                            
                                        </tbody> 
                                        <tbody id="company_body">
                                      
                                          <tr>
                                              <td>3</td>
                                              <td >Arooma</td>
                                              <td > No suggestion!</td>
                                              <td>None</td>
                                              <td>YES</td>
                                              <td >8.5</td>
                                              
                                              <td>
                                            </tr> 
                                            
                                        </tbody> 
                                        <tbody id="company_body">
                                      
                                          <tr>
                                              <td>4</td>
                                              <td >Haseeb</td>
                                              <td > No suggestion!</td>
                                              <td>None</td>
                                              <td>YES</td>
                                              <td >6.5</td>
                                              
                                              <td>
                                            </tr> 
                                            
                                        </tbody> 
                                        <tbody id="company_body">
                                      
                                          <tr>
                                              <td>5</td>
                                              <td >Mudassir</td>
                                              <td > No suggestion!</td>
                                              <td>None</td>
                                              <td>YES</td>
                                              <td >8.5</td>
                                              
                                              <td>
                                            </tr> 
                                            
                                        </tbody> 

                              </table>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>

            <!-- /.container-fluid -->
            {% include 'AdminSide/shared/footer.html' %}

        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>    
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/metisMenu.js' %}"></script>
{% endblock %}
